{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .target-element {
    scroll-margin-top: 70px;
  }
</style>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade" style="background-image: url({% static "img/others/products_main.jpg" %});">
      <div class="container position-relative">
        <h1>PRODUCTS</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url "index" %}">Home</a></li>
            <li class="current">Products</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Alt Services 1 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3 >Introduction</h3>
            <p style="text-align:justify;">Discover our wide range of specialized products designed to enhance safety,
               comfort, and efficiency in various environments. 
               From fireproof curtains and sun shades to industrial filters and advanced engineering solutions,</p>
            <h5>Products</h5>
            <div class="row">

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p><a href="#hart">HART Door Systems</a></p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p><a href="#coopers">COOPERS</a></p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p><a href="#airtechz">AIRTECHZ</a></p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p><a href="#caravita">CARAVITA</a></p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p><a href="#collbaix">COLLBAIX</a></p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p><a href="#anwis">ANWIS</a></p>
                </div>
              </div><!-- End Icon Box -->
            </div>

          </div>

          <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static "img/others/product_intro.jpg" %}" alt="">
          </div>

        </div>

      </div>

    </section>
<!-- /Alt Services 1 Section -->

 <!-- Alt Services 2 Section -->
 <section id="alt-services-2" class="alt-services-2 section">

  <div class="container target-element"    id="hart">

    <div class="row justify-content-around gy-4">

      <div class="features-image col-lg-5 order-1 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static "img/others/hart.png" %}" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <h3>HART Door Systems</h3>
        <p style="text-align:justify;">
          Hart Door Systems, based in Newcastle upon Tyne, is a renowned designer and manufacturer of 
          commercial and industrial doors. With over 35 years of experience, their innovative high-speed
           door systems, branded as "Speeder," are globally recognized. Serving diverse sectors such as 
           railways, airports, stadiums, and factories, Hart provides bespoke door solutions tailored to
            specific needs, making them a respected name in the industry.
        </p>
        <div class="row">

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Speedor High-Speed Doors              </p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Custom Industrial Door Systems              </p>
            </div>
          </div><!-- End Icon Box -->
          
          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Terror Screen Security Rated
                Shutters</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Roller Shutters & Doors              </p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Fire Shutters & Doors              </p>
            </div>
          </div><!-- End Icon Box -->

        </div>
      </div>
      

    </div>

  </div>

</section>
<!-- /Alt Services 2 Section -->

    <!-- Alt Services 3 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

      <div class="container target-element" id="coopers">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3 >COOPERS</h3>
            <p style="text-align:justify;">Coopers Fire, with over 30 years of experience, is a leading manufacturer and 
              installer of automatic fire and smoke curtains, barriers, and ventilation systems. Known for protecting 
              prestigious buildings worldwide, Coopers Fire is the designer's preferred choice due to their innovative
               and discreet solutions. They are the only UK manufacturer with Independent Third Party Accreditation for 
               servicing fire and smoke curtains.</p>
            <div class="row" >

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Fire Curtains</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Smoke Curtains</p>
                </div>
              </div><!-- End Icon Box -->
            </div>

          </div>

          <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static "img/others/cooper.jpg" %}" alt="">
          </div>

        </div>

      </div>

    </section>
<!-- /Alt Services 3 Section -->

    <!-- Alt Services 5 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

      <div class="container target-element" id="airtechz">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3 >AIRTECHZ</h3>
            <p style="text-align:justify;">Airtechz is a leading manufacturer of superior air curtains designed to provide 
              energy savings, convenience, and safety for various entrances, including main doors, kitchen entries, and cold
               room entrances. Based in China, Airtechz specializes in designing and producing a wide range of OEM industrial
                fans and air curtains for commercial, industrial, and residential buildings. They collaborate closely with 
                professionals in the ventilation, air conditioning, and heating industries to deliver high-quality solutions.</p>
            <div class="row" >

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Standard Air Curtains:</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Industrial Air Curtains</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Kitchen Air Curtains</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>OEM Industrial Fans</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Cold Room Air Curtains</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Drive-Thru Service Window Air Curtains</p>
                </div>
              </div><!-- End Icon Box -->
            </div>

          </div>

          <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static "img/others/airtechz.jpg" %}" alt="">
          </div>

        </div>

      </div>

    </section><!-- /Alt Services 5 Section -->

 <!-- Alt Services 6 Section -->
 <section id="alt-services-2" class="alt-services-2 section">

  <div class="container target-element"  id="caravita">

    <div class="row justify-content-around gy-4">

      <div class="features-image col-lg-5 order-1 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static "img/others/caravita.jpg" %}" alt="">
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-2" data-aos="fade-up" data-aos-delay="100">
        <h3>CARAVITA</h3>
        <p style="text-align:justify;">
          CARAVITA, a leading brand in high-grade parasols, is renowned for superior quality 
          and elegant design. Their parasols, spanning up to seven meters, are exceptionally 
          robust, able to withstand high winds, and feature innovative mechanisms for easy handling.
           Customised artisanal production allows for individual combinations of fabric and frame colors,
            meeting the highest standards in food service, hospitality, and private gardens.
        </p>
        <div class="row">

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Big Ben Centre Pole Parasol              </p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Big Ben Freestyle Centre Pate
                Parasol</p>
            </div>
          </div><!-- End Icon Box -->
          
          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Supremo Centre Pale Paraso              </p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Samara Centre Pole Parasol              </p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Amalfi Cantilever Parasol  </p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Amalfi DUO Cantilever Parasol</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Amalfi QUADRO Cantilever Parasol              </p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Belvedere </p>
            </div>
          </div><!-- End Icon Box -->
          
          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p>Summerday</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="col-lg-6 icon-box d-flex">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <p> Sun Sails</p>
            </div>
          </div><!-- End Icon Box -->
        </div>
      </div>
   </div>

  </div>

</section>
<!-- /Alt Services 6 Section -->

    <!-- Alt Services 7 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

      <div class="container target-element"  id="collbaix">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3 >COLLBAIX</h3>
            <p style="text-align:justify;">
              With a deep commitment to excellence and craftsmanship, we specialize in bespoke solutions that blend style,
               functionality, and security. Whether enhancing privacy with meticulously designed blinds,
                introducing cutting-edge automatic glass solutions, or fortifying premises with high-security doors,
                 we turn your dreams into reality. Our products are manufactured with precision, using the finest materials
                  and cutting-edge technology, ensuring longevity and reliability. Rigorous quality control guarantees that
                   every product meets the highest industry standards.
            </p>
            <div class="row">

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Commericial Roller Shutters</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Industrial Roller Shutters</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Residential Roller Shutters</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>High Security Roller Shutters</p>
                </div>
              </div><!-- End Icon Box -->
            </div>

          </div>

          <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static "img/others/collbaix.jpg" %}" alt="">
          </div>

        </div>

      </div>

    </section>
<!-- /Alt Services 7 Section -->

    <!-- Alt Services 9 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

      <div class="container target-element" id="anwis">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3 >ANWIS</h3>
            <p style="text-align:justify;">
              Anwis is a leading manufacturer of window blinds and shading solutions,
               known for its commitment to quality, innovation, and design excellence.
                With a wide range of products and customization options, Anwis provides
                 solutions to enhance the aesthetics and functionality of any space. </p>
            <div class="row" >

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Roller Blinds</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Venetian Blinds</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Vertical Blinds</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <p>Pleated Blinds</p>
                </div>
              </div><!-- End Icon Box -->
            </div>
          </div>

          <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static "img/others/anwis.jpg" %}" alt="">
          </div>

        </div>

      </div>

    </section><!-- /Alt Services 9 Section -->


  </main>
  {% endblock %}