{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

  .btn-visit {
      padding: 8px 40px;
      background: var(--accent-color);
      color: var(--contrast-color);
      border-radius: 50px;
      transition: 0.3s;
      margin-left: 10%;
  }
  
  .btn-visit:hover {
      background: color-mix(in srgb, var(--accent-color), transparent 20%);
      color: black; /* Change text color to black on hover */
  }
  
</style>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade" style="background-image: url('{% static "img/serge/serge-main.jpg" %}');">
      <div class="container position-relative">
        <h1>
          SERGE FERRARI
        </h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url "index" %}">Home</a></li>
            <li class="current">Serge Ferrari</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Alt Services 2 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3 >Introduction</h3>
            <p style="text-align:justify;">
                Serge Ferrari, established by Serge Ferrari in 1973, is a prominent French company
                specializing in flexible composite materials. Recognized globally for its innovation,
                the company designs, manufactures, and markets composite fabrics renowned for their durability,
                lightweight properties, and resistance to extreme weather conditions. Emphasizing sustainability,
                Serge Ferrari utilizes patented Précontraint® technology to produce materials with superior performance 
                and longevity, reducing the need for frequent replacements.
            </p>
            <a href="https://www.sergeferrari.com/" target="blank" data-aos="fade-up" data-aos-delay="100" class="btn-visit align-self-start">Know More <i class="bi bi-arrow-right"></i></a>

        </div>

          <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static "img/serge/serge-about.jpg" %}" alt="">
          </div>

        </div>

    </div>

    </section><!-- /Alt Services 2 Section -->

    <!-- Alt Services 2 Section -->
<section id="alt-services-2" class="alt-services-2 section">

    <div class="container">
  
      <div class="row justify-content-around gy-4">
  
        <div class="features-image col-lg-5 order-1 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <img src="{% static "img/serge/serge-innovation.jpg" %}" alt="">
        </div>
  
        <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <h3 >Product Portfolio and Innovation</h3>
          <p style="text-align:justify;">
            Serge Ferrari offers a diverse product portfolio catering to various industries,
             including architecture (tensile structures, façades, solar protection),
              modular structures, marine (yacht and boat equipment), furniture, and 
              environmental solutions (waste management, water management). Their materials,
               known for their durability and weather resistance, are enhanced by the patented
                Précontraint technology, ensuring longevity and reducing maintenance costs. Continual 
                innovation is a hallmark of Serge Ferrari, with a focus on developing new solutions 
                to meet the evolving needs of its global clientele.
          </p>
        </div>
  
      </div>
  
    </div>
  
  </section><!-- /Alt Services 2 Section -->
  

    <p></p>
</main>

{% endblock %}